$bg-gray: #d9d9d9;
$text-dark: #1a1a1a;

.footer {
  height: 55px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $bg-gray;
  color: $text-dark;
}

.footer p {
  margin: 0;
  font-size: 0.85rem;
}